<!-- templates/daily_activity_form.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Daily Activity Form</title>
</head>
<body>
    <div class="container">
        <h2>Daily Activity Form</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.date.label_tag }}
                {{ form.date }}
            </div>
            <div class="form-group">
                {{ form.learning }}
                {{ form.learning.label_tag }}
            </div>
            <div class="form-group">
                {{ form.meditation }}
                {{ form.meditation.label_tag }}
            </div>
            <div class="form-group">
                {{ form.physical_activity }}
                {{ form.physical_activity.label_tag }}
            </div>
            <div class="form-group">
                {{ form.sudoku }}
                {{ form.sudoku.label_tag }}
            </div>
            <div class="form-group">
                {{ form.reading_writing }}
                {{ form.reading_writing.label_tag }}
            </div>
            <div class="form-group">
                {{ form.comments.label_tag }}
                {{ form.comments }}
            </div>
            <div class="form-group">
                <button type="submit">Submit</button>
            </div>
        </form>
        <div class="contact-info">
            <p><a href="mailto:cupawan.newsletter@gmail.com"><b>Email</b></a></p>
            <p><a href="https://www.github.com/cupawan" target="_blank"><b>Github</b></a></p>
            <p><a href="https://www.linkedin.com/in/cupawan" target="_blank"><b>LinkedIn</b></a></p>
        </div>
    </div>
</body>
</html>
